
SPEEDSEQ_HOME=/opt/speedseq/

# general
SAMBAMBA=/opt/speedseq/bin/sambamba
BGZIP=/opt/speedseq/bin/bgzip
TABIX=/opt/speedseq/bin/tabix
VAWK=/opt/speedseq/bin/vawk
PARALLEL=/opt/speedseq/bin/parallel
PYTHON=/opt/miniconda/bin/python2.7

# align
BWA=/opt/speedseq/bin/bwa
SAMBLASTER=/opt/speedseq/bin/samblaster

# var/somatic
FREEBAYES=/opt/speedseq/bin/freebayes
VEP=/opt/linuxbrew/bin/variant_effect_predictor.pl
VEP_CACHE_DIR=/scratch/annotations/vep_cache

# sv
LUMPY=/opt/speedseq/bin/lumpy
LUMPYEXPRESS=/opt/speedseq/bin/lumpyexpress
PAIREND_DISTRO=/opt/speedseq/bin/pairend_distro.py
SVTYPER=/opt/speedseq/bin/svtyper
BAMGROUPREADS=/opt/speedseq/bin/bamgroupreads.py
BAMFILTERRG=/opt/speedseq/bin/bamfilterrg.py
BAMLIBS=/opt/speedseq/bin/bamlibs.py

# CNVnator
CNVNATOR_WRAPPER=/opt/speedseq/src/cnvnator/bin/cnvnator_wrapper.py
CNVNATOR_MULTI=/opt/cnvnator/CNVnator_v0.3.2/src/cnvnator-multi
ANNOTATE_RD=/opt/speedseq/src/cnvnator/bin/annotate_rd.py
CNVNATOR_CHROMS_DIR=/scratch/annotations/cnvnator_chroms

# realign
BAMTOFASTQ=/opt/speedseq/bin/bamtofastq.py
MBUFFER=/opt/speedseq/bin/mbuffer
BAMHEADRG=/opt/speedseq/bin/bamheadrg.py
BAMCLEANHEADER=/opt/speedseq/bin/bamcleanheader.py
